.header {
    font-family: 'Playwrite DE Grund';
}

#logo {
    width: 100%;
    aspect-ratio: 2 / 1;
}

.header button,
a {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;

}

.header div {
    margin-top: 1vh;
}

#weather {
    margin: 0px;
}

#modal-submit {
    background-color: #efd6af;
    border-style: solid;
    border-width: 5px;
    border-color: #ffedd6;
}

#modal-close {
    background-color: #afbcc6;
    border-style: solid;
    border-width: 5px;
    border-color: #e4e8eb;
}

.modal-content {
    border-style: solid;
    border-width: 5px;
    border-color: #ffedd6;
}