body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#task-list {
    height: 60vh;
    overflow: auto;
}

.input-wrapper {
    width: 100%;
}

footer {
    position: fixed;
    z-index: 2000;
    overflow: hidden;
}

#save {
    width: 80%;
    background-color: #efd6af;
    border-style: solid;
    border-width: 5px;
    border-color: #ffedd6;
}

@media (min-width: 768px) {
    .input-wrapper {
        width: 40%;
    }

    #save {
        width: 30%;
    }
}

.popupContainer, .emoji-picker__wrapper {
    z-index: 1000;
}

.emoji-trigger {
    border-radius: 10px;
}

.import-btn {
    padding: 3px;
}

input[type="file"] {
    font-style: italic;
}